<h3 class="page-header">
  Delayed Job Sites
</h3>
<ul id="cd-gallery-items" class="cd-container">
  <% @delayed_job_sites.each do |delayed_job_site| %>
    <li>
      <div class="ribbon-wrapper">
        <div class="ribbon-green"><%= delayed_job_site.active? ? "Active" : "Inactive" %></div>
      </div>
      <div class="cd-item-info">
        <b><%= delayed_job_site.environment %></b>
      </div>
      <ul class="cd-item-wrapper">
        <li class="cd-item-front">
          <div class="cd-item-data">
            <table>
              <tr>
                <td><b>Url: </b></td>
                <td><%= auto_link delayed_job_site.url %></td>
              </tr>
              <tr>
                <td><b>Unresolved: </b></td>
                <td>500</td>
              </tr>
              <tr>
                <td><b>Valid: </b></td>
                <td>600</td>
              </tr>
              <tr>
                <td><b>Total: </b></td>
                <td>1900</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </li>
  <% end %>
</ul>